<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Projects</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="static/css/owl.carousel.min.css">
      <link rel="stylesoeet" href="static/css/owl.theme.default.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
   </head>
   <body>
      <!-- header section start -->
      <div class="header_section">
         <div class="">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
               <a class="logo" href="index.html"><img src="{{logo}}"></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                     <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/projects">Projects</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/login">Register</a>
                     </li>

                  </ul>
                  <div class="search_icon"><a href="#"><img src="{{search_icon}}"></a></div>
               </div>
            </nav>
         </div>
      </div>
      <!-- header section end --> 
      <!-- project section start -->
      <div class="project_section layout_padding padding_top_90">
         <div class="container">
            <h1 class="project_taital">Latest Projects</h1>
            <div class="project_menu">
               <ul>
                  <li class="active"><a href="#">All</a></li>
                  <li><a href="https://vikaspedia.in/schemesall/schemes-for-farmers">Agricultural Sector</a></li>
                  <li><a href="https://vikaspedia.in/education/policies-and-schemes/schemes-for-elementary-secondary-higher-education">Education Sector</a></li>
                  <li><a href="https://labour.gov.in/statistics-about-schemes-and-programs-ministry">Labour Sector</a></li>
                  <li><a href="https://housing.karnataka.gov.in/english">Residential</a></li>
               </ul>
            </div>
         </div>
         <div class="project_section_2 layout_padding">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-sm-3">
                     <div><img src="{{img_3}}" class="image_3"></div>
                  </div>
                  <div class="col-sm-3">
                     <div><img src="{{img_4}}" class="image_3"></div>
                  </div>
                  <div class="col-sm-3">
                     <div><img src="{{img_5}}" class="image_3"></div>
                  </div>
                  <div class="col-sm-3">
                     <div><img src="{{img_6}}" class="image_3"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- project section end -->
      <!-- project section start -->
      <div class="project_section_3 layout_padding padding_bottom_90">
         <div class="container">
            <h1 class="project_taital">Our Features Projects</h1>

         </div>
         <div class="project_section_2 layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_4}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_5}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_6}}" class="image_6">

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_4}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_5}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_6}}" class="image_6">

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_4}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_5}}" class="image_6">

                              </div>
                           </div>
                           <div class="col-sm-4">
                              <div>
                                 <img src="{{img_6}}" class="image_6">

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-arrow-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- project section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding margin_top_90 ">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="https://www.google.com/maps/place/Alliance+University/@12.7304796,77.7046034,17z/data=!3m1!4b1!4m5!3m4!1s0x3bae6e511486348b:0xd89a0e9710f980c7!8m2!3d12.7304796!4d77.7067921"><img src="{{map_icon}}" class="image_main"><span class="padding_left_10">Alliance University - Central Campus, Chikkahadage Cross Chandapura-Anekal, Main Road, Bengaluru, Karnataka 562106</span></a></div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="#"><img src="{{call_icon}}" class="image_main"><span class="padding_left_10">(+91 9799041108)</span></a></div>
               </div>
               <div class="col-lg-4 col-sm-12">
                  <div class="map_text"><a href="mailto: enquiry@alliance.edu.in"><img src="{{mail_icon}}" class="image_main"><span class="padding_left_10">enquiry@alliance.edu.in</span></a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->

      <!-- copyright section end -->    
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>